<!DOCTYPE html>
<html>
	<head>
		<title>Proof Reading Symbols</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<!-- STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="widget.css">
		<link href='https://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="materia.enginecore.js"></script>
		<script src="materia.score.js"></script>

		<!-- OPTIONAL MATERIA JAVASCRIPT -->
		<!-- <script src="materia.storage.manager.js"></script> -->
		<!-- <script src="materia.storage.table.js"></script> -->

		<!-- YOUR PREREQUISITES -->
		<script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js'></script>
		<script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-sanitize.min.js'></script>

		<!-- MAIN PLAYER SCRIPT -->
		<script src="player.js"></script>
	</head>
	<body ng-app="proofread" ng-click="" ng-controller="proofReadCtrl">
		<div class="content" ng-hide="finished">
			<img
			id="{{questions[2].id}}"
			alt=" The words Apples and oranges with squiggly lines underneath, and a line going through a letter and over in each word"
			ng-style="questions[2].style"
			ng-click="checkAns(questions[2].id,2)"
			src="assets/images/format.png">

			<p class="indent">
				Developing a semester-length course for a traditional classroom environment is a very different proposition from developing a self-paced,

				<img
				id="{{questions[5].id}}"
				alt="The word web based with carrot symbol below and two lines above it"
				ng-style="questions[5].style"
				ng-click="checkAns(questions[5].id,5)"
				src="assets/images/dash.png">
				curriculum of interactive learning object for workforce training. While the overarching instructional strategies and models may be the same, the tactics that are used to act on those strategies vary widely.
				<img
				id="{{questions[4].id}}"
				alt="The word for with three lines under the first letter"
				ng-style="questions[4].style"
				ng-click="checkAns(questions[4].id,4)"
				src="assets/images/capital.png">
				example, a traditional,
			    <img
			    id="{{questions[1].id}}"
			    alt="a line going over the word academic and under classroom-based "
			    ng-style="questions[1].style"
			    ng-click="checkAns(questions[1].id,1)"
			    src="assets/images/transposeWords.png">
			    course may require extensive preparation that
			    <img
			    id="{{questions[8].id}}"
			    alt="The word includes with top/bottom carrot symbol, colon in the middle and the word stet circled above"
			    ng-style="questions[8].style"
			    ng-click="checkAns(questions[8].id,8)"
			    src="assets/images/colon.png">
			    the development of a course outline, a syllabus, a schedule, lecture notes, assessments, visual presentation aids, and other support materials.
			    <img
			    id="{{questions[6].id}}"
			    alt="a line going from the end of the  first paragraph to the beginning of the second paragraph."
			    ng-style="questions[6].style"
			    ng-click="checkAns(questions[6].id,6)"
			    src="assets/images/closeParagraph.png">
			</p>
			<p class="indent">
				However, a traditional classroom course
				<img
				id="proofRead-insertSpace"
				alt="A line drawn down the middle of the words does and not with a hashtag symbol at the top"
				ng-style="questions[10].style"
				src="assets/images/insertSpace.png">
				require the
				<img
				alt="A line drawn over the word very"
				src="assets/images/delete.png"
				id="{{questions[3].id}}"
				ng-style="questions[3].style"
				ng-click="checkAns(questions[3].id,3)">
				precise scripting of every word of instruction to be delivered to students. Because the instruction within a self-paced learning object is computer facilitated, with no external human
				<img
				id="{{questions[0].id}}"
				alt="The word interventin with the carrot symbol at the bottom and the letter o at the top" ng-style="questions[0].style"
				ng-click="checkAns(questions[0].id,0)"
				src="assets/images/insert.png">
				there is an extra burden on the development
				<img
				id="{{questions[7].id}}"
				alt="A wavy line drawn over the word taem"
				ng-style="questions[7].style"
				ng-click="checkAns(questions[7].id,7)"
				src="assets/images/transposeLetters1.png">
				to precisely capture the subject matter expertise of the academic authority. In this self-paced, technologically-mediated construct, the computer functions in an
				<img
				src="assets/images/italics.png"
				id="{{questions[9].id}}"
				ng-style="questions[9].style"
				ng-click="checkAns(questions[9].id,9)"> capacity for the student.

			</p>
			<div id="instructionModal" ng-click="closeModal('modal')" class="modal">
				<div class="modal-content" ng-click="closeModal('modal-content')">
					<a href="#" class="close">x</a>
					<p>
						The purpose of this widget is to gauge your knowledge of proofreading a document.
						You will be asked a series of questions that will ask you to select the appropriate
						symbol that best matches the description given. To answer the questions click on

						<img src="assets/images/insert.png"><br>
						<b>NOTE: When you hover over certain words within the document they will look similar to the image above. These are the ones that you are able to click on to answer the question.</b>

					</p>
				</div>
			</div>
			<div id="questionBox">
				<div class="tooltip">
					<a href="#" ng-click="displayModal()">Instructions</a>
				</div>
				<p>{{index+1}}. {{currentQuestion}} </p>
				<hr ng-show="isCorrect" id="wrongAns-border">
				<p ng-show="isCorrect" id="wrongAns">{{ans.wrongStmnt}}</p>
				<hr ng-show="nextQuestion" id="correctAns-border">
				<p ng-show="nextQuestion" id="correctAns">	Correct.</p>
				<button id="nextBtn"popup-nav
				 ng-click= "switchQuestion()"
				 ng-show="showBtn"
				 value="Next"
				>NEXT</button>
			</div>
		</div>
		<div class="score_content" ng-show="finished">
			<p id="final_score">
				Your final score is <br> <span>{{ans.correct}} </span><br> out of 10.<br>
			</p>
			<button ng-click="viewScores()" id="submitBtn">Submit</button>
		</div>
	</body>
</html>