
body 
{

    margin: 0px;
    padding: 0px;
    background: #F7F8ED;
    

}

.content
{
    background-color: #fff;
    width: 84%;
    margin: 140px auto 0px auto;
    padding: 60px 15px;

	a
	{
		text-decoration: none;
		color: black;
	}

	#questionBox
	{
		
        margin: 0 auto;
		width: 86%;
        position: fixed;
        font-size: 14pt;
        top: 30px;
        right: 0px;
        left: 0px;
		padding: 20px;
		background-color: #E8FBA9;
		border-radius: 20px;
	}

	#wrongAns-border 
	{
		border-top: 1px solid #B10D0D;
    	width: 65%;
    	display: block;
    	margin-left: 0px;
	}

	#wrongAns 
	{
		color: #B10D0D;
		width: 90%;

	}

	#correctAns-border 
	{
		border-top: 1px solid #C1C1C1;
    	width: 65%;
    	display: block;
    	margin-left: 0px;
	}

	#correctAns 
	{
		color: #00B005;
		width: 90%;

	}

	.indent
	{
		text-indent: 40px;
		line-height: 2em;
		font-size: 12pt;
        padding: 0px 40px;
	}

    img:hover, #proofRead-delete:hover, #proofRead-italics:hover
    {
    	cursor: pointer;
    }

    button 
    {
    	float: right;
	    padding: 10px 26px;
	    cursor: pointer;
	    display: inline-block;
	    text-decoration: none;
	    color: white;
	    font-family: "Museo Sans", "Arial", "Helvetica", sans;
	    font-size: 14pt;
	    border: none;
	    border-radius: 4px;
	    background: #383636;
    }

    #proofRead-closeParagraphs
    {
    	vertical-align: middle;
    	margin-left: -129px;
    	margin-bottom: -49px
    }

    #proofRead-dash
    {
    	vertical-align: middle;
    	margin-left: -4px;
    	margin-right: -5px;
    	padding-top: 6px;
    }

    #proofRead-bold
    {
    	vertical-align: middle;
    	margin-bottom: -20px;
    	height: 45px;
    }

    #proofRead-capitalize
    {
    	vertical-align: middle; 
    	padding-top: 5px;
    	margin-left: -3px;
    	margin-right: -12px;
    }

    #proofRead-transposeWords
    {
    	vertical-align: top;
	    margin-left: -4px;
	    width: 180PX;
	    padding-top: 3px;
    }

    #proofRead-original
    {
    	vertical-align: top;
    	margin-right: -8px;
    	padding-top: 2px;
    }

    #proofRead-insertLetter
    {
    	vertical-align: middle;
	    height: 32px;
	    /* margin-left: 0px; */
	    margin-right: -15px;
	    margin-top:-2px
    }

    #proofRead-insertSpace
    {
    	vertical-align: top;
	    margin-right: -10px;
	    margin-left: -4px;
    }

    #proofRead-transposeLetters
    {
    	vertical-align: middle;
    	margin-right: -9px;
    	margin-left: -4px;
    }

    
}

.score_content
{
    background-color: #fff;
    width: 84%;
    margin: 120px auto 0px auto;
    padding: 60px 15px;
    height: 400px;

#final_score
{
    text-align: center;
    font-size: 16pt;
    line-height: 2em;
}

#final_score span 
{
    color: #3399CC;
}

}
