<!DOCTYPE html>
<html>
	<head>
		<title>Proof Reading Symbols</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<!-- STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="player.css">
		<link href='https://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script src="materia.enginecore.js"></script>

		<!-- YOUR PREREQUISITES -->
		<script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js'></script>
		<script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-sanitize.min.js'></script>

		<!-- MAIN PLAYER SCRIPT -->
		<script src="player.js"></script>
	</head>
	<body ng-app="proofread" ng-click="" ng-controller="proofReadCtrl">
		<div class="content" ng-hide="finished">
			<img
			id="{{questions[2].id}}"
			alt="{{questions[2].alt}}"
			alt=" The words Apples and oranges with squiggly lines underneath, and a line going through a letter and over in each word"
			ng-style="questions[2].style"
			ng-click="checkAns($event.target)"
			src="assets/images/format.png">

			<p class="indent">
				Developing a semester-length course for a traditional classroom environment is a very different proposition from developing a self-paced,

				<img
				id="{{questions[5].id}}"
				alt="{{questions[5].alt}}"
				ng-click="checkAns($event.target)"
				src="assets/images/dash.png">
				curriculum of interactive learning object for workforce training. While the overarching instructional strategies and models may be the same, the tactics that are used to act on those strategies vary widely.
				<img
				id="{{questions[4].id}}"
				alt="{{questions[4].alt}}"
				ng-click="checkAns($event.target)"
				src="assets/images/capital.png">
				example, a traditional,
				<img
				id="{{questions[1].id}}"
				alt="{{questions[1].alt}}"
				ng-click="checkAns($event.target)"
				src="assets/images/transposeWords.png">
				course may require extensive preparation that
				<img
				id="{{questions[8].id}}"
				alt="{{questions[8].alt}}"
				ng-click="checkAns($event.target)"
				src="assets/images/colon.png">
				the development of a course outline, a syllabus, a schedule, lecture notes, assessments, visual presentation aids, and other support materials.
				<img
				id="{{questions[6].id}}"
				alt="{{questions[6].alt}}"
				ng-click="checkAns($event.target)"
				src="assets/images/closeParagraph.png">
			</p>

			<p class="indent">
				However, a traditional classroom course
				<img
				id="proofRead-insertSpace"
				src="assets/images/insertSpace.png">
				require the
				<img
				src="assets/images/delete.png"
				id="{{questions[3].id}}"
				alt="{{questions[3].alt}}"
				ng-click="checkAns($event.target)">
				precise scripting of every word of instruction to be delivered to students. Because the instruction within a self-paced learning object is computer facilitated, with no external human
				<img
				id="{{questions[0].id}}"
				alt="{{questions[0].alt}}"
				ng-click="checkAns($event.target)"
				src="assets/images/insert.png">
				there is an extra burden on the development
				<img
				id="{{questions[7].id}}"
				alt="{{questions[7].alt}}"
				ng-click="checkAns($event.target)"
				src="assets/images/transposeLetters.png">
				to precisely capture the subject matter expertise of the academic authority. In this self-paced, technologically-mediated construct, the computer functions in an
				<img
				src="assets/images/italics.png"
				id="{{questions[9].id}}"
				alt="{{questions[9].alt}}"
				ng-click="checkAns($event.target)"> capacity for the student.
			</p>

			<div ng-if="showModal" id="instructionModal" ng-click="closeModal()" class="modal">
				<div class="modal-content" ng-click="closeModal()">
					<a href="#" class="close">x</a>
					<p>
						The purpose of this widget is to gauge your knowledge of proofreading a document.
						You will be asked a series of questions that will ask you to select the appropriate
						symbol that best matches the description given. To answer the questions click on

						<img src="assets/images/insert.png"><br>
						<b>NOTE: When you hover over certain words within the document they will look similar to the image above. These are the ones that you are able to click on to answer the question.</b>

					</p>
				</div>
			</div>

			<div id="questionBox">
				<div class="tooltip">
					<a href="#" ng-click="displayModal()">Instructions</a>
				</div>
				<p>{{index+1}}. {{currentQuestion.q}} </p>
				<hr ng-show="ans.wrongStmnt" id="wrongAns-border">
				<p ng-show="ans.wrongStmnt" id="wrongAns">{{ans.wrongStmnt}}</p>
				<hr ng-show="showCorrect" id="correctAns-border">
				<p ng-show="showCorrect" id="correctAns">Correct.</p>
				<button
					id="nextBtn"
					popup-nav
					ng-click="switchQuestion()"
					ng-show="showNextBtn"
					value="Next"
				>NEXT</button>
			</div>

		</div>

		<div class="score_content" ng-show="finished">
			<p id="final_score">
				Your final score is <br> <span>{{ans.correct}} </span><br> out of 10.<br>
			</p>
			<button ng-click="viewScores()" id="submitBtn">Submit</button>
		</div>

	</body>
</html>
